---
apiVersion: v1
kind: Namespace
metadata:
  name: weebcast-system
  labels:
    app.kubernetes.io/name: weebcast-operator
    control-plane: controller-manager
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: weebcast-operator
  namespace: weebcast-system
  labels:
    app.kubernetes.io/name: weebcast-operator
    app.kubernetes.io/component: controller
    control-plane: controller-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: weebcast-operator
      control-plane: controller-manager
  template:
    metadata:
      labels:
        app.kubernetes.io/name: weebcast-operator
        control-plane: controller-manager
      annotations:
        kubectl.kubernetes.io/default-container: manager
    spec:
      serviceAccountName: weebcast-operator
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: manager
          image: weebcast/weebcast-operator:latest
          imagePullPolicy: IfNotPresent
          command:
            - /manager
          args:
            - --leader-elect
            - --health-probe-bind-address=:8081
            - --metrics-bind-address=:8080
          ports:
            - name: metrics
              containerPort: 8080
              protocol: TCP
            - name: health
              containerPort: 8081
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
      terminationGracePeriodSeconds: 10

