---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: weebcast-operator-role
rules:
  # AnimeMonitor resources
  - apiGroups:
      - weebcast.com
    resources:
      - animemonitors
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - weebcast.com
    resources:
      - animemonitors/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - weebcast.com
    resources:
      - animemonitors/finalizers
    verbs:
      - update
  # Events
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  # ConfigMaps for leader election
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  # Leases for leader election
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete

